body{margin: 0;font-family: cursive, helvetica, arial; font-size: 20px;
line-height: 30px;background-color: darkgray;}

header{background-color: darkgoldenrod;text-align: center;
padding-top: 50px;padding-bottom: 50px;}
h1, h2{font-family: 'Lacquer', cursive; margin: 40 px 0 10px;}
header h1{color: indianred;font-size: 100px;}

header img{    width: 500px;
    border-radius: 1000px;
    border: 20px solid rgb(117 39 39);}

li{color: blueviolet;}



footer p{margin: 0;}



    main{max-width: 800px;
    	margin: 0 auto;
    	padding: 0 20px;}

    main img{max-width: 100%;}

    h2{font-size: 35px; color: darkgoldenrod;}
    p{font-size: 20px; color: blueviolet;}
    a{color: blueviolet;}
    a:hover{color: indianred; background-color: black;}
    footer{color: blueviolet;text-align: center;padding: 50px;}
    footer a:hover{color: red;}

    p.caption{font-style: italic; font size: 15px;}